button {
  cursor: pointer;
}

.swiper-demo {
  width: 600px;
  margin: 20vh auto 0;
}

.swiper-container {
  width: 600px;
  height: 300px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.control button:not(:last-child) {
  margin-right: 10px;
}
.pages {
  display: flex;
  justify-content: space-between;
}